%article
  %header
    %h2= link_to post.title, post_url(post)
    %span 
      Date: 
      %time= post.created_at.strftime('%B %d, %Y')
  .preview
    %p= post.excerpt
    %footer
      .meta
        %span 
          Categories:
          = raw post.post_categories.map { |c| link_to c.category.name, archives_path + '/category/' + c.category.slug }.to_sentence
      %span.readmore
        = link_to(post_url(post)) do
          %input{ :type => 'submit', :value => 'Read More' }